/node_modules
/public/storage
/storage/*.key
/.env
/.env.backup
*.log
.DS_Store
Thumbs.db
/public/hot
npm-debug.log
yarn-error.log
staging.ehsandibazar.com/public/storage
*.mp4
*.mov
*.avi
*.mkv

/bootstrap/cache/*.php

/.phpunit.result.cache
